[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/Vixen.desktop]
row=0
col=1

[/home/ryan/Desktop/Microsoft Pinball.desktop]
row=5
col=0

[/home/ryan/Desktop/random info]
row=4
col=0

[/home/ryan/Desktop/minecraft.desktop]
row=1
col=1

[/home/ryan/Desktop/teamviewer-teamviewer10.desktop]
row=3
col=1

[/home/ryan/Desktop/virtualbox.desktop]
row=2
col=1

[4E40A1BE40A1AD61]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ryan]
row=3
col=0

