[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/Visualizer]
row=3
col=2

[/home/ryan/Desktop/minecraft.desktop]
row=2
col=1

[/home/ryan/Desktop/jetbrains-idea-ce.desktop]
row=2
col=2

[/home/ryan/Desktop/random info]
row=4
col=0

[/home/ryan/Desktop/Microsoft Pinball.desktop]
row=5
col=0

[/home/ryan/Desktop/Vixen.desktop]
row=1
col=1

[/home/ryan/Desktop/virtualbox.desktop]
row=3
col=1

[/home/ryan/Desktop/rstudio.desktop]
row=5
col=1

[/home/ryan/Desktop/GP010025.mp4]
row=4
col=1

[/home/ryan/Desktop/jetbrains-pycharm-ce.desktop]
row=1
col=2

[/home/ryan/Desktop/teamviewer-teamviewer10.desktop]
row=0
col=1

[/home/ryan/Desktop/Rwanda]
row=0
col=2

[/home/ryan/Desktop/Vixen LS2015.desktop]
row=4
col=2

[4E40A1BE40A1AD61]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ryan]
row=3
col=0

